/* 公用样式 */

/* h1,h2,h3,h4,h5,h6{
  margin: 0;
} */
*{
  margin: 0;
}
a{
  text-decoration: none;
  color: #aaa;
}


/* ----------------------------------左侧------------------------------ */
/* 左侧顶部标题 */
#leftTitle{
  color: #d1d0cf;
}
#leftTitle h2{
  padding: 45px 20px 45px 0;
}
#leftTitle p{
  font-size: 12px;
  padding: 0 20px 24px 0;
}

/* 左侧栏 */
.el-aside {
  background:url('../images/navBG.png') repeat-y;
  color: #333;
  text-align: right;
}
/* 菜单 */
.el-menu{
  background-color: transparent ;
  border:none;
}
.el-menu-item:focus, .el-menu-item:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

/* 标题 */
.el-submenu__title{
  background: url('../images/menuBG.png') repeat-x;
  color: #fff;
}
.el-submenu__title,.el-submenu .el-menu-item{
  width: 206px;
  height: 33px;
  line-height: 33px;
  margin-bottom: 10px;
  margin-left: 24px;
  border-radius: 5px 0 0 5px;  
}
.el-submenu .el-menu-item{
  padding: 0 20px;
  color:#aaa;
}
.el-menu-item.is-active{
  background: rgba(255, 255, 255, 0.3);
  color:#fff;
  font-weight: bold;
}
/* -----------------------------------右侧--------------------------------------- */
.el-container{
  background-color: #f8f8f8;
}

.el-header,
.el-footer {
  color: #333;
}

/* 顶部 */
.el-header{
  padding-top: 40px;
}
.el-header p{
  line-height: 40px;
}

/* 底部 */
.el-footer{
  line-height: 50px;
  border-top: 1px solid #ccc;
  font-size: 14px;
}


/* 中间 */
.el-main {
  color: #333;
  line-height: 40px;
  max-height: 480px;
  height: 100%;
}

#home .el-card__header{
  background: linear-gradient(#eee,#e5e5e5);
  padding: 0 20px;
}
.el-alert--info{
  margin-bottom: 20px;
  background-color: #dbe3ff;
  color: #585b66;
  border:1px solid #a2b4ee;
  padding: 0 20px;
}
#mainContent{
  display: flex;
  flex-wrap: wrap;
}
#mainContent>*{
  width: 100%;
}

/* --------------------------------------------管理账号：添加账号----------------------------- */
/* input框修改宽度 */
.el-input{
  width:30%;
}
/* 下拉框恢复原来宽度的70% */
.el-input--suffix{
  width:70%;
}
/* 添加按钮颜色修改 */
/* .el-button--success{
  background-color:#65aa00;
  border-color: #459300;
} */






